/* Fonts */

@font-face {
    font-family: 'Sinkin Sans';
    src: url('../fonts/SinkinSans-300Light-webfont.eot');
    src: url('../fonts/SinkinSans-300Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-300Light-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-300Light-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-300Light-webfont.svg#sinkin_sans300_light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sinkin Sans';
    src: url('../fonts/SinkinSans-300LightItalic-webfont.eot');
    src: url('../fonts/SinkinSans-300LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-300LightItalic-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-300LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-300LightItalic-webfont.svg#sinkin_sans300_light_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Sinkin Sans';
    src: url('../fonts/SinkinSans-400Regular-webfont.eot');
    src: url('../fonts/SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-400Regular-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-400Regular-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sinkin Sans';
    src: url('../fonts/SinkinSans-400Italic-webfont.eot');
    src: url('../fonts/SinkinSans-400Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-400Italic-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-400Italic-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-400Italic-webfont.svg#sinkin_sans400_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sinkin Sans';
    src: url('../fonts/SinkinSans-500Medium-webfont.eot');
    src: url('../fonts/SinkinSans-500Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-500Medium-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-500Medium-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-500Medium-webfont.svg#sinkin_sans500_medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sinkin Sans';
    src: url('../fonts/SinkinSans-500MediumItalic-webfont.eot');
    src: url('../fonts/SinkinSans-500MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-500MediumItalic-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-500MediumItalic-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-500MediumItalic-webfont.svg#sinkin_sans500_medium_italic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Sinkin Sans';
    src: url('../fonts/SinkinSans-600SemiBold-webfont.eot');
    src: url('../fonts/SinkinSans-600SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-600SemiBold-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-600SemiBold-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-600SemiBold-webfont.svg#sinkin_sans600_semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sinkin Sans';
    src: url('../fonts/SinkinSans-600SemiBoldItali-webfont.eot');
    src: url('../fonts/SinkinSans-600SemiBoldItali-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-600SemiBoldItali-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-600SemiBoldItali-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-600SemiBoldItali-webfont.svg#sinkin_sans600SBdIt') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Sinkin Sans';
    src: url('../fonts/SinkinSans-700Bold-webfont.eot');
    src: url('../fonts/SinkinSans-700Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-700Bold-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-700Bold-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-700Bold-webfont.svg#sinkin_sans700_bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sinkin Sans';
    src: url('../fonts/SinkinSans-700BoldItalic-webfont.eot');
    src: url('../fonts/SinkinSans-700BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-700BoldItalic-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-700BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-700BoldItalic-webfont.svg#sinkin_sans700_bold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?728306');
  src: url('../fonts/fontello.eot?728306#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?728306') format('woff2'),
       url('../fonts/fontello.woff?728306') format('woff'),
       url('../fonts/fontello.ttf?728306') format('truetype'),
       url('../fonts/fontello.svg?728306#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?728306#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-globe:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-cancel-circled:before { content: '\e802'; } /* '' */
.icon-briefcase:before { content: '\e803'; } /* '' */
.icon-map:before { content: '\e804'; } /* '' */
.icon-camera-outline:before { content: '\e805'; } /* '' */
.icon-down-open-big:before { content: '\e806'; } /* '' */
.icon-left-open-big:before { content: '\e807'; } /* '' */
.icon-heart:before { content: '\e808'; } /* '' */
.icon-right-open-big:before { content: '\e809'; } /* '' */
.icon-up-open-big:before { content: '\e80a'; } /* '' */
.icon-cancel:before { content: '\e80b'; } /* '' */
.icon-chat:before { content: '\e80c'; } /* '' */
.icon-videocam:before { content: '\e80d'; } /* '' */
.icon-left-dir:before { content: '\e80e'; } /* '' */
.icon-right-dir:before { content: '\e80f'; } /* '' */
.icon-right-circle:before { content: '\e810'; } /* '' */
.icon-share:before { content: '\e811'; } /* '' */
.icon-print:before { content: '\e812'; } /* '' */
.icon-clock:before { content: '\e813'; } /* '' */
.icon-panoramic:before { content: '\e81c'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */

/*.icon-globe:before { content: '\e800'; }
.icon-search:before { content: '\e801'; }
.icon-cancel-circled:before { content: '\e802'; }
.icon-briefcase:before { content: '\e803'; }
.icon-map:before { content: '\e804'; }
.icon-camera-outline:before { content: '\e805'; }
.icon-down-open-big:before { content: '\e806'; }
.icon-left-open-big:before { content: '\e807'; }
.icon-heart:before { content: '\e808'; }
.icon-right-open-big:before { content: '\e809'; }
.icon-up-open-big:before { content: '\e80a'; }
.icon-cancel:before { content: '\e80b'; }
.icon-chat:before { content: '\e80c'; }
.icon-videocam:before { content: '\e80d'; }
.icon-left-dir:before { content: '\e80e'; }
.icon-right-dir:before { content: '\e80f'; }
.icon-right-circle:before { content: '\e810'; }
.icon-share:before { content: '\e811'; }
.icon-print:before { content: '\e812'; }
.icon-clock:before { content: '\e813'; }
.icon-panoramic:before { content: '\e81c'; }
.icon-menu:before { content: '\f0c9'; }
.icon-calendar-empty:before { content: '\f133'; }
.icon-play-circled:before { content: '\f144'; }
.icon-youtube-play:before { content: '\f16a'; }
.icon-twitter:before { content: '\f309'; }
.icon-facebook:before { content: '\f30c'; }
.icon-gplus:before { content: '\f30f'; }
.icon-pinterest:before { content: '\f312'; }
.icon-instagram:before { content: '\f32d'; }*/
