body {
	padding: 30px;
}

img {
	max-width: 100%;
	height: auto;
}

.site-navigation,
.site-overlay,
.slick-slider button,
.subpages,
.section-check-out,
.section-newsletter,
.footer-menu,
.footer-partners,
.footer-copyright .txt-alignright,
.item-actions {
	display: none !important;
}

a {
	color: #e15151;
}

.site-branding img {
	max-height: 150px;
	width: auto;
}

#breadcrumbs {
	margin-top: 40px;
}

.item-desc,
.item-sidebar,
.item-desc .row .col {
	height: auto !important;
}

