/* Import Fonts */

@import url(vg-fonts.css);

/* Generic Styles */

body { color: #000; }
body, input, textarea { font-family: 'Sinkin Sans', sans-serif; font-size: 14px; }
.wrap { max-width: 1400px; margin: 0 auto; position: relative; }
.entry-content { margin: 0 auto; line-height: 1.5; }
.oflow { overflow: hidden; }
.fl { float: left !important; }
.fr { float: right !important; }
.clear { clear: both; }
.first-half, .last-half { width: 50%; float: left; }
.last-half { float: right; }
.txt-alignleft { text-align: left !important; }
.txt-alignright { text-align: right !important; }
.txt-aligncenter { text-align: center !important; }
.txt-alignjustify { text-align: justify !important; }
.nomargin { margin: 0 !important; }
.nopadding { padding: 0 !important; }
strong, b { font-weight: 700 }
i, em { font-style: italic; }
.none { display: none; }
a { text-decoration: none; outline: none !important; }
a:hover { text-decoration: underline; }
.relative { position: relative; }
.uppercase { text-transform: uppercase; }
.center { text-align: center; }
.opacity0 { opacity: 0; }
.valign-middle { position: relative; top: 50%; transform: translateY(-50%); }

a, a:visited { color: #e15151; transition: all 0.2s ease; }
a:hover { color: #B84242; text-decoration: none; }

.button,
a.button {
	background: #e15151;
	color: #fff;
	display: inline-block;
	padding: 10px 20px;
}

.button:hover,
a.button:hover {
	background-color: #B84242;
}

.half { width: 48%; margin-left: 1%; float: left; }
.half.first { margin-left: 0; }

.row { overflow: hidden; }
.row .col { float: left; }

.col-10 { width: 10%; }
.col-16 { width: 16.66%; }
.col-20 { width: 20%; }
.col-25 { width: 25%; }
.col-30 { width: 30%; }
.col-33 { width: 33.33%; }
.col-40 { width: 40%; }
.col-50 { width: 50%; }
.col-60 { width: 60%; }
.col-66 { width: 66.66%; }
.col-70 { width: 70%; }
.col-75 { width: 75%; }
.col-80 { width: 80%; }

.fullwidth { width: 100%; }
.fullwidth-fullheight { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

.bg-cover { background-size: cover; background-position: center center; background-repeat: no-repeat; }

.clickable { transition: all 0.2s ease; cursor: pointer; }

.slick-slider, .slick-slider .slide, .slick-slider .slick-slide { outline: none; overflow: hidden; }
.slick-slider .slide { float: left; }

.view-more { text-align: center; margin-top: 40px; font-size: 14px; font-weight: 300; }
.view-more a { color: #000; }
.view-more a:hover { color: #e15151; }
.view-more a:after { font-family: 'fontello'; content: '\e810'; margin-left: 5px; }

.select2-dropdown { z-index: 9999; }

.message { text-align: center; font-size: 12px; font-style: italic; }

.addthis_toolbox a.at300b,
.addthis_toolbox a.at300m {
	float: none;
}

.wp-pagenavi { text-align: center; margin-top: 40px; }
.wp-pagenavi a, .wp-pagenavi span { border: none; }

.instagram-media {
	margin: 20px auto !important;
	position: relative !important;
}


/* Header Styles */

body.active-menu-overlay,
body.active-search-overlay {
	overflow: hidden;
}

body.has-banners #page {
	padding-top: 72px;
}

body.home #page {
	padding-top: 72px;
}

body.no-banners #page {
	padding-top: 85px;
}

.site-branding {
	position: absolute;
	top: 4px;
}

.site-branding .logo {
	width: 120px;
	display: inline-block;
	transition: all 0.2s ease;
}

.site-branding .logo.mini {
	width: 80px;
}

.site-branding .logo img {
	width: 100%;
}

.site-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 9999;
}

.showing-android-smart-banner .site-header { top: 78px; }

.site-navigation .nav-item {
	display: inline-block;
	padding: 20px 0;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 1.5%;
	border-top: 4px solid #fff;
	border-bottom: 4px solid #fff;
}

.site-navigation .nav-item:hover,
.site-navigation .nav-item.active {
	border-bottom-color: #e15151;
}

.site-navigation .nav-item.highlight {
	color: #e15151;
}

.select2-container--default .select2-selection--single {
	border: none;
	outline: none;
	padding: 32px 0;
}

.select2-results__option {
	font-size: 9px;
	text-transform: uppercase;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #e15151; 
}

.select2-container--open .select2-dropdown--below {
	border: none;
}

.select2-container--default .select2-selection--single {
	background-color: transparent;
}

.select2-dropdown {
	border-radius: 0;
	background-color: rgba(255,255,255,0.8);
}

.select2-container--default .select2-results__option[aria-selected=true] {
	background-color: #000;
	color: #fff;
}

.site-navigation .select2-container--default .select2-selection--single .select2-selection__arrow b {
	right: 0;
	left: auto;
}

.site-navigation select {
	display: none;
}

.site-navigation .select2-container--default .select2-selection--single .select2-selection__rendered {
	top: 18px;
    left: 25px; 
    position: absolute;
}

.site-navigation .select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 19px;
}

.site-navigation .icon-globe:before {
	position: absolute;
    left: 2px;
    top: 24px;
}

.site-navigation .item-lang {
	padding: 0;
	vertical-align: top;
}

.site-header .main-navigation {
	text-transform: uppercase;
}

.site-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	color: #000;
	background: rgba(255,255,255,.95);
	overflow-y: scroll;
	-webkit-transform: translate(0,-100%);
    -ms-transform: translate(0,-100%);
    transform: translate(0,-100%);
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
    -webkit-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
}

.active-menu-overlay .menu-overlay,
.active-search-overlay .search-overlay {
	-webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.site-overlay .overlay-content {
	position: relative;
	top: 100px;
	font-size: 18px;
}

.site-overlay .btn-close {
	position: absolute;
	right: 0;
	top: 0;
	color: #bcbcbc;
	display: inline-block;
	font-size: 35px;
}

.site-overlay .btn-close:hover {
	color: #000;
}

.overlay-content .heading {
	font-size: 30px;
	text-transform: uppercase;
}

.ui-autocomplete { 
	z-index: 1000;
}


/* Main Menu Styles */

.submenu-items .menu-item-has-children > a:after {
	font-family: 'fontello';
	content: '\e809';
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.menu-overlay ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu-overlay .menu-item-back {
	font-size: 12px;
	font-style: italic;
}

.submenu-items > div:first-child,
#submenu-wrap {
	width: 48%;
	max-width: 250px;
	float: left;
	position: relative;
}

#primary-menu {
	margin-right: 4%;
}

#submenu-wrap,
.menu-overlay li a {
	position: relative;
}

#submenu-wrap .sub-menu-container {
	position: relative;
	left: 0;
	transition: left 0.2s ease;
}

.sub-menu-head {
	font-weight: 500;
	border-bottom: 1px dotted #000;
	margin-bottom: 10px;
}

#primary-menu ul.sub-menu,
#submenu-wrap .sub-menu-container,
.sub-menu-container ul.sub-menu {
	display: none;
}

#submenu-wrap .sub-menu-container.active,
.sub-menu-container .sub-menu.active {
	display: block;
}

.sub-menu-container .sub-menu {
	width: 100%;
	position: absolute;
	top: 0;
	left: 100%;
}

/*#submenu-wrap .sub-menu-container.active {
	height: 500px;
}*/

.menu-overlay .quick-links {
	float: right;
}

.overlay-content a,
.overlay-content .clickable {
	color: #000;
	display: inline-block;
}

.submenu-items a,
.submenu-items .clickable {
	padding: 10px 30px 10px 10px;
	width: 100%;
}

.overlay-content .clickable:hover,
.submenu-items a:hover,
.submenu-items .current-menu-item > a.active,
.submenu-items .current-menu-item .sub-menu-head a.active,
.submenu-items .sub-menu-container.active > .sub-menu-head a.active.root {
	color: #e15151;
}

.submenu-items #primary-menu a.active {
	background: #e99797;
	color: #000;
}

.login-wrap {
	margin-top: 20px;
}

.login-links {
	list-style: none;
	padding: 0;
	font-size: 14px;
}

.login-links a,
.quick-links a:hover {
	color: #e15151;
}

.login-links a:hover {
	text-decoration: underline;
}

.login-wrap .note {
	font-size: 12px;
	font-style: italic;
	color: #333333;
	line-height: 1.5;
	max-width: 250px;
	padding-left: 10px;
}

.quick-links {
	padding-top: 50px;
}

.quick-links li {
	margin-bottom: 15px;
	position: relative;
}

.quick-links li:before {
	font-size: 30px;
	vertical-align: middle;
	margin-right: 15px;
}

.quick-links li#menu-item-6518 {
	margin-bottom: 30px;
}

.quick-links li a:before {
	content: attr(data-count);
	position: absolute;
	top: 0;
	left: -25px;
	font-size: 14px;
	color: #fff;
	background: #e15151;
	text-align: center;
	display: block;
	padding: 0 5px;
	line-height: 20px;
	border-radius: 20px;
}

/* Search Overlay Styles */

.overlay-search-input {
	margin: 40px auto;
	width: 80%;
}

.overlay-search-input input {
	width: 100%;
	border: none;
	border-bottom: 2px solid #000;
	border-radius: 0;
	margin: 0 auto;
	padding: 15px 50px 15px 15px !important;
	display: block;
	background: transparent !important;
	font-size: 18px;
	outline: none;
}

.overlay-search-input .icon {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 35px;
}


/* General Content Page Styles */

.page-banners,
.page-banners .slide {
	height: 50vh;
	max-height: 600px;
	overflow: hidden;
}

#breadcrumbs {
	margin: 30px 0;
	font-size: 18px;
	color: #606060;
	font-weight: 500;
}

#breadcrumbs > span {
	margin-left: 10px;
	display: inline-block;
}

#breadcrumbs span,
#breadcrumbs span a {
	font-size: 14px;
	color: #6d6d6d;
	font-weight: normal;
}

#breadcrumbs span a:hover {
	color: #e15151;
}

.entry-header .entry-title,
.section .section-title {
	font-weight: 300;
	text-align: center;
	font-size: 30px;
	color: #333333;
}

.section-padding-top-bottom {
	padding: 40px 0;
}

.section-padding-top {
	padding-top: 40px;
}

.section-padding-bottom {
	padding-bottom: 40px;
}

.single-post .entry-content ol li {
	margin: 15px 0;
}

/* Page Gallery Styles */

.page-gallery-slider .slide img {
	max-height: 350px;
	width: auto;
}

.page-gallery-slider {
	height: 350px;
	overflow: hidden;
}

.page-gallery-slider .video a:after,
#video-gallery a:after {
	font-family: 'fontello';
	content: '\f144';
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: -40px;
	text-align: center;
	vertical-align: middle;
	font-size: 80px;
	color: #fff;
	line-height: 1;
	opacity: 0.6;
	transition: all 0.2s ease;
}

.page-gallery-slider .video a:hover:after,
#video-gallery a:hover:after {
	opacity: 1;
	-ms-transform: matrix(1.2, 0, 0, 1.2, 0, 0); /* IE 9 */
    -webkit-transform: matrix(1.2, 0, 0, 1.2, 0, 0); /* Safari */
    transform: matrix(1.2, 0, 0, 1.2, 0, 0);
}

/* Subpage List Styles */

.subpages {
	margin-bottom: 50px;
}

.subpages .subpage-box {
	width: 48%;
	float: left;
	cursor: pointer;
	display: block;
	color: #000;
}

.subpages .subpage-box:nth-child(even){
	float: right;
}

.subpage-box .subpage-image-wrap {
	width: 100%;
	background-color: #f2f2f2;
	padding-bottom: 50%;
}

.subpage-image {
	-webkit-transition: transform .4s ease;
    transition: transform .4s ease;
}

.subpage-box:hover .subpage-image {
	-ms-transform: matrix(1.05, 0, 0, 1.05, 0, 0); /* IE 9 */
    -webkit-transform: matrix(1.05, 0, 0, 1.05, 0, 0); /* Safari */
    transform: matrix(1.05, 0, 0, 1.05, 0, 0);
}

.subpage-box .subpage-title {
	margin-bottom: 0;
}

.subpage-box .subpage-intro {
	margin-top: 0;
	margin-bottom: 3em;
}

.subpage-box .subpage-title,
.subpage-box .subpage-intro {
	-webkit-transition: opacity .4s ease-out;
    transition: opacity .4s ease-out;
}

.subpage-box:hover .subpage-title,
.subpage-box:hover .subpage-intro {
	opacity: 0.6;
}

/* Listings Box Filter Styles */

.section-listings-filter .listings-filters {
	background: #ebebeb;
    padding: 2%;
}

.listings-filters h3 {
	margin-top: 0;
}

.listings-filters input {
	border-radius: 0;
	border: none;
	padding: 2%;
}

.listings-filters ul {
	margin: 0 2% 0 0;
	padding: 0;
	background: #fff;
	padding: 2%;
	height: 200px;
	color: #858585;
	overflow-y: scroll;
	width: 95%;
}

.listings-filters ul li {
	list-style: none;
}

.listings-filters ul li input {
	margin-right: 10px;
}

.listings-filters .btn-submit {
	padding: 3%;
	background: #e15151;
	color: #fff;
	text-transform: uppercase;
}

.listings-filters .btn-submit:hover {
	background-color: #B84242;
}

.section-listings-filter .section-title {
	text-align: left;
	font-size: 20px;
}

.listings-sorting {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #f2f2f2;
}

.listings-sorting ul {
	margin: 0 40px 0 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
}

.listings-sorting ul li {
	display: inline;
	color: #858585;
	margin-right: 5px;
}

.listings-sorting ul li.label,
.listings-sorting ul li .active {
	color: #000;
}

.listings-sorting ul li span:hover,
.listings-sorting ul li .active {
	text-decoration: underline;
}

#pagination ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

#pagination li {
	text-align: center;
	list-style: none;
	border-right: 1px solid #f2f2f2;
	display: inline;
}

#pagination li:last-child {
	border: none;
}

#pagination li a {
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
	color: #333;
}

#pagination li a:hover {
	opacity: 0.5;
}

#pagination li.active a {
	color: #e15151;
}

#pagination li.active a:hover {
	opacity: 1;
}

/* Check Out Section Styles */

.slides-wrap,
.slides-wrap .slide {
	height: 300px;
}

.slides-wrap .slide {
	padding: 1%;
	margin: 0 10px;
	text-align: center;
}

.checkout-slider .slick-list {
    margin: 0 -10px;
}

.slides-wrap .slide-image {
	transition: all 3s ease;
}

.slides-wrap .slide:hover .slide-image {
	-ms-transform: matrix(1.05, 0, 0, 1.05, 0, 0); /* IE 9 */
    -webkit-transform: matrix(1.05, 0, 0, 1.05, 0, 0); /* Safari */
    transform: matrix(1.05, 0, 0, 1.05, 0, 0);
}

.slides-wrap .slide-title {
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	line-height: 1.2;
}

.slides-wrap .slide-title:after {
	content: '';
	border-bottom: 9px solid #fff;
	display: block;
	width: 20%;
	margin: 20px auto 0;
	transition: all 0.2s ease;
}

.slides-wrap .slide:hover .slide-title:after {
	width: 50%;
}

.slides-wrap .slide .overlay {
	background: rgba(41,41,41,0.9);
	padding: 5%;
	color: #fff;
	text-align: left;
	top: 100%;
	transition: top 0.2s ease;
}

.slides-wrap .slide:hover .overlay {
	top: 0;
}

.slides-wrap .slide .overlay h4 {
	font-size: 130%;
	font-weight: normal;
	margin: 0;
}

/* Generic Item Box Styles */

.item-box {
	position: relative;
	width: 32.33%;
	float: left;
	margin: .75% 0;
	height: 300px;
	background-image: url('../images/img-noimage.png');
	background-size: contain;
	background-color: #f2f2f4;
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	text-align: left;
}

.events .item-box {
	text-align: right;
}

ul.item-boxes {
	margin: 0;
	padding: 0;
}

ul.item-boxes.ui-autocomplete {
	left: 0 !important;
	right: 0 !important;
}

.item-boxes .item-box:nth-child(3n+2) {
	margin: .75% 1.5%;
}

.item-box .item-date {
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px 20px;
	background: #4e4e50;
	color: #fff;
	line-height: 1;
	font-size: 24px;
	transition: all 0.2s ease;
}

.item-box:hover .item-date {
	padding-top: 25px;
}

.item-date span {
	display: block;
}

.item-date .event-day {
	font-weight: bold;
	font-size: 30px;
}

.item-box .item-title {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 20px;
	background: rgba(78,78,80,0.8);
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	transition: all 0.2s ease;
}

.events .item-box .item-title {
	text-align: center;
}

.item-box:hover .item-title {
	padding-top: 20px;
	padding-bottom: 20px;
}

.item-box .item-title .actions {
	text-align: right;
	font-size: 25px;
	vertical-align: middle;
	line-height: 1;
}

.item-box .item-title .actions span {
	transition: all 0.2s ease;
	display: inline-block;
	transform: scale(1);
}

.item-box .item-title .actions span:hover:before,
.item-box .item-title .actions span.added:before {
	color: #e15151;
}

.item-box .item-title .actions span.adding:before {
	color: #e15151;
	-webkit-animation: beat .25s infinite alternate;
	-moz-animation: beat .25s infinite alternate;
	-ms-animation: beat .25s infinite alternate;
	-o-animation: beat .25s infinite alternate;
	animation: beat .25s infinite alternate;

	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-o-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
}

@keyframes beat{
	to { 
		-webkit-transform: scale(1.4);
	   	-moz-transform: scale(1.4);
	   	-o-transform: scale(1.4);
	   	-ms-transform: scale(1.4);
	   	transform: scale(1.4);
	}
}

/* Common Page Styles */

.page-template-page-column-content .site-main .entry-content {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 5em;
	-moz-column-gap: 5em;
	column-gap: 5em;
}


/* Common Single Post Template Styles */

.single .item-desc {
	padding-right: 3%;
}

.single .item-sidebar {
	padding-left: 3%;
	border-left: 1px solid #000;
}

.item-sidebar .info span {
	display: block;
}

.item-sidebar .location {
	font-size: 24px;
	font-weight: 500;
}

.item-sidebar .item-actions,
.item-sidebar .item-actions li {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.item-sidebar .item-actions {
	cursor: pointer;
}

.item-sidebar .item-actions li {
	margin: 5px 0;
}

.item-sidebar .item-actions span:hover {
	color: #e15151;
}

.item-sidebar .item-actions span:before {
	font-size: 20px;
	vertical-align: middle;
}

.map-wrap {
	height: 480px;
	background: #f2f2f2;
}

.item-poster {
	padding: 0 5%;
	text-align: center;
}

.event-dates {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 16px;
	font-weight: 300;
}

.event-dates li {
	margin-bottom: 10px;
}

.event-dates li:before {
	margin-right: 10px;
	color: #e15151;
}

.section-event-video iframe {
	display: block;
	margin: 0 auto;
}

.single.single-post .entry-content .gallery {
	text-align: center;
}

/* Homepage Styles */

.home-intro {
	width: 100%;
	color: #fff;
	position: relative;
}

.home-intro:before {
	display: block;
	content: "";
	width: 100%;
	padding-top: 52.7%;
}

.home-video {
	overflow: hidden;
}

.home-video video,
.video-overlay {
	position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    z-index: 3;
}

.video-overlay {
	background: transparent;
}

.intro-search-wrap {
	width: 100%;
	z-index: 9;
	opacity: 1;
	transition: opacity 0.5s ease;
	position: absolute;
}

.home-intro.yt-active .intro-search-wrap {
	opacity: 0;
}

.intro-search-content {
	background: rgba(41,41,41,0.9);
	padding: 40px;
	position: relative;
}

.intro-search-container {
	color: #fff;
	margin: 0 auto;
	max-width: 650px;
}

.intro-search-container .btn-close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
}

.intro-search-container .btn-close:hover {
	color: #e15151;
}

.intro-search-container .competition,
.competition.competition-small {
	background-color: rgba(255,81,81,0.75);
	padding: 18px 20px 18px 200px;
	position: relative;
	z-index: 2
}

.competition.competition-small {
	color: #fff;
	margin-top: 40px;
	display: none;
}

.competition .competition-logo {
	width: 150px;
	position: absolute;
	top: -14px;
	left: 20px;
}

.competition .heading {
	font-size: 23px;
	text-transform: uppercase;
	font-weight: 500;
}

.competition .subheading {
	font-size: 13px;
}

.competition .subheading a {
	font-weight: 500;
	color: #eaea32;
}

.home-intro h2 {
	font-size: 24px;
	font-weight: 500;
	margin: 0;
}

.home-intro .tagline {
	font-size: 18px;
}

.search-input-wrap {
	margin: 25px 0;
	border-radius: 10px;
	overflow: hidden;
}

input.search-input {
	width: 100%;
	padding: 15px 70px 18px 15px;
	font-size: 12px;
	display: block;
	border: none;
	border-radius: 10px;
	outline: none !important;
}

input.search-input::-webkit-input-placeholder {
	font-style: italic;
}

input.search-input:-moz-placeholder { /* Firefox 18- */
	font-style: italic;
}

input.search-input::-moz-placeholder {  /* Firefox 19+ */
	font-style: italic;
}

input.search-input:-ms-input-placeholder {  
	font-style: italic;
}

.search-input-wrap .btn-search {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background: #e15151;
	width: 60px;
	vertical-align: middle;
}

.search-input-wrap .btn-search:hover {
	background-color: #B84242;
}

.search-input-wrap .btn-search:before {
	vertical-align: middle;
	font-size: 30px;
	line-height: 51px;
}

.hot-searches {
	font-size: 10px;
	font-weight: 300;
}

.hot-searches .col {
	padding: 0 3%;
}

.hot-searches .col:hover {
	color: #e15151;
}

.btn-play-video {
	font-size: 10px;
	margin-top: 10px;
	display: inline-block;
}

.btn-play-video.video-modal {
	display: none;
}

.btn-play-video:hover,
.btn-play-video .icon-play-circled:before {
	color: #e15151;
	transition: all 0.2s ease;
}

.btn-play-video:hover .icon-play-circled:before {
	margin-left: 10px;
}

.btn-play-video .icon-play-circled:before {
	font-size: 25px;
	vertical-align: middle;
}

.social-links-bar {
	background: #e3e3e3;
}

.social-links-bar a {
	display: inline-block;
	color: #4e4e50;
}

.social-links-bar a:hover {
	color: #e15151;
}

.social-links-bar a:before {
	font-size: 30px;
	position: relative; 
	top: 50%; 
	transform: translateY(-50%);
	width: 100%;
	margin: 0;
}

.social a {
	width: 50px;
	height: 50px;
	position: relative;
}

.social a:nth-child(odd){
	background: #d4d4d4;
}

.links-bar .item {
	height: 50px;
	display: inline-block;
	padding: 0 1.5%;
	border-right: 1px solid #fff;
}

.links-bar .item:first-child {
	border-right: 0;
}

.links-bar p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	margin: 0;
	min-height: 19px;
	line-height: 1;
	font-size: 11px;
	font-weight: 600;
}

.links-bar p:before {
	font-size: 30px;
	vertical-align: middle;
	margin-left: 0;
}

.links-bar .weather p {
	font-size: 12px;
	font-weight: 300;
}

.section-featured-pages .featured-nav {
	margin: 1% 0;
	color: #333333;
	font-size: 20px;
}

.section-featured-pages .nav-item {
	display: inline-block;
	margin: 0 1%;
	transition: color 0.2s ease;
}

.section-featured-pages .nav-item.active,
.section-featured-pages .nav-item:hover {
	color: #e15151;
}

.section-featured-pages .nav-item.active {
	text-decoration: underline;
}

/* event item tab wrap */

.event-item-wrap {
	margin: 1% 0;
	color: #333333;
	font-size: 20px;
}

.event-item-wrap .nav-item,
.event-item-wrap .cultural-calendar {
	display: inline-block;
	margin: 0 1%;
	cursor: pointer;
	transition: color 0.2s ease;
	color: #333;
}

.event-item-wrap .nav-item.active,
.event-item-wrap .nav-item:hover,
.event-item-wrap .cultural-calendar:hover {
	color: #e15151;
}

.event-item-wrap .nav-item.active {
	text-decoration: underline;
}

.featured-pages-wrap .leader {
	min-height: 50vh;
	padding: 40px 0;
}

.leader-intro {
	background: rgba(84,86,89,0.7);
	color: #fff;
	padding: 2%;
	max-width: 450px;
	margin-left: 40px;
	display: block;
	transition: all 0.2s ease;
}

.leader-intro:hover {
	margin-left: 60px;
}

.leader-intro h3 {
	font-weight: normal;
	font-size: 30px;
	margin: 0 0 10px;
}

.leader-intro p {
	margin: 0;
}

.leader-intro h3,
.leader-intro p {
	color: #fff;
}

.leader-intro span {
	color: #fff;
	font-size: 30px;
}

.featured-pages-wrap .slides-wrap {
	margin-top: 40px;
}

.featured-group {
	display: none;
}

.featured-group.active {
	display: block;
}

.featured-group .col {
	margin: 0;
}

.featured-group .col-50 {
	width: 49%;
	margin-bottom: 2%;
}

.featured-group .col-50:nth-child(2){
	float: right !important;
}

.featured-group .col-25 {
	width: 23.5%;
	margin-right: 2%;
}

.featured-group .col-25:last-child {
	margin-right: 0;
}

.featured-group.slides-wrap {
	height: auto;
}

/* Newsletter Signup Page */

.section-newsletter.newsletter-page .mc-field-group {
	display: block;
	margin: 10px 0
}

.section-newsletter.newsletter-page .mc-field-group input {
	min-width: 300px;
}

.section-newsletter.newsletter-page .note {
	font-size: 11px;
	margin-bottom: 20px;
}

#note-not-responsive{
	font-size:10px!important; line-height: 40px;
}

#note-responsive{
	font-size:10px!important; line-height: 40px;
}


/* Site Footer Styles */

.section-newsletter input,
.section-newsletter .mc-field-group,
.section-newsletter .subscribe-button-container {
	display: inline-block;
}

.section-newsletter .subscribe-button-container input {
	border: none;
	background: #e15151;
	color: #fff;
	padding: 15px 15px 16px;
    position: relative;
    top: -1px;
	text-align:center;
}

.section-newsletter .subscribe-button-container input:hover {
	background-color: #B84242;
}

.section-newsletter input {
	border-radius: 0;
	padding: 10px;
}

#mce-responses {
	position: absolute;
	bottom: 15px;
	left: 0;
	right: 0;
	font-size: 10px;
}

.txt-logo,
.txt-logo a {
	color: #333333;
	font-size: 12px;
}

.txt-logo a:hover {
	color: #e15151;
}

.ta-in-footer {
	font-size: 12px;
}

.ta-in-footer,
.ta-in-footer a {
	color: #333333;
	text-transform: capitalize;
}

.ta-in-footer a {
	font-weight: 500;
}

.ta-in-footer a:hover {
	text-decoration: underline;
}

.ta-in-footer .ta-poweredby {
	font-size: 10px;
	line-height: 1.5;
	margin-bottom: 10px;
}

.ta-in-footer .ta-poweredby-txt {
	margin-right: 10px;
}

.footer-links {
	margin-top: 25px;
	background: #333333;
	color: #fff;
	padding: 40px 0;
}

.footer-menu {
	padding-bottom: 25px;
	border-bottom: 1px solid #464646;
}

.footer-menu .social-menu {
	font-size: 10px;
}

.footer-menu .social-menu .title {
	margin-bottom: 15px;
}

.footer-menu .social-menu a {
	margin: 3px 0;
	display: block;
	float: none;
}

.footer-menu .social-menu a:before {
	font-size: 30px;
	vertical-align: middle;
	margin-left: 0;
}

.foot-main-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 10px;
}

.foot-main-menu ul a {
	color: #b6b6b6;
}

.foot-main-menu ul a:hover,
.footer-menu .social-menu a {
	color: #fff;
}

.foot-main-menu ul.menu,
.footer-partners {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.foot-main-menu ul.menu > li:nth-child(2) {
	display: none;
}

.foot-main-menu ul.menu > li > a,
.footer-menu .social-menu .title {
	color: #fff;
	font-size: 14px;
}

.foot-main-menu ul.menu > li > .sub-menu {
	margin-top: 15px;
}

.foot-main-menu ul.menu > li > a:hover,
.footer-menu .social-menu a:hover {
	color: #e15151;
}

.footer-partners {
	padding: 25px 0;
	align-items: center
}

.footer-partners a:hover {
	opacity: 0.6;
}

.footer-partners img {
	vertical-align: middle;
}

.footer-copyright {
	font-size: 10px;
}

.footer-copyright,
.footer-copyright a {
	color: #939393;
}

.footer-copyright a:hover {
	color: #fff;
}

/* TripAdvisor Overrides */

#CDSWIDSSP {
	width: 100% !important;
}

#CDSWIDSSP div,
#CDSWIDSSP .widSSPData .widSSPH18,
#CDSWIDSSP .widSSPData .widSSPInformation .widSSPPopIdx .widSSPPopIdxData,
#CDSWIDSSP .widSSPData .widSSPOneReview .widSSPBullet li span,
#CDSWIDSSP .widSSPData .widSSPOneReview .widSSPBullet li a,
.widSSPAll a {
	font: normal 12px 'Sinkin Sans' !important;
}

#CDSWIDSSP .widSSPData .widSSPH18 {
	font-size: 14px !important;
}

#CDSWIDSSP .widSSPData .widSSPInformation .widSSPPopIdx b,
#CDSWIDSSP .widSSPData .widSSPH11 {
	font-size: 16px !important;
}

#CDSWIDSSP .widSSPData .widSSPBranding,
.widSSPComponent,
.widSSPWrap {
	width: 30%;
}

#CDSWIDSSP .widSSPReviews {
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 40%;
	border-top: none;
}

#CDSWIDSSP .widSSPData .widSSPOneReview .widSSPBullet li a {
	color: #e15151 !important;
}

#CDSWIDSSP .widSSPData .widSSPOneReview .widSSPBullet li .widSSPDate {
	display: block !important;
	font-weight: bold !important;
}

#CDSWIDSSP .widSSPData .widSSPAll {
	padding-top: 20px !important;
}

#CDSWIDSSP .widSSPData .widSSPAll a {
	background: #589442;
	display: inline-block;
	padding: 10px;
	text-decoration: none !important;
	color: #fff !important;
}

/* Friends of Links */

.friends-of-links {
	max-width: 800px;
	margin: 0 auto;
}

.friends-of-links h2 {
	margin-bottom: 0;
}

.friends-of-links img {
	max-width: 80%;
	margin-top: 35px;
}

.friends-of-links .link {
	margin: 20px 0
}

/* Pool Trips Styles */

.section-pool-trips .trip {
	background: #ebebeb;
	padding: 2%;
	width: 49%;
	margin: 1% 0;
}

.section-pool-trips .trip:nth-child(even){
	float: right;
}

.section-pool-trips .trip .label {
	font-weight: bold;
}

.section-pool-trips .trip .icon {
	background: url('../images/icon-trip.svg') no-repeat center center;
	background-size: contain;
	opacity: 0.2;
	position: absolute;
	top: 10%;
	left: 2%;
	bottom: 10%;
	right: 60%;
}

.section-pool-trips .trip .row {
	margin: 10px 0;
}

.trip .btn-contact {
	background: #e15151;
	color: #fff;
	padding: 15px 20px;
	margin: 160px auto 0;
	display: inline-block;
	position: relative;
}

.trip .btn-contact:hover {
	background-color: #B84242;
}

.pool-trip-request .frm_submit input {
	margin-left: 160px !important;
}

.pool-trip-request .frm_style_formidable-style.with_frm_style .frm_form_field.frm_left_container input:not([type=radio]):not([type=checkbox]) {
	max-width: 79% !important;
}

#frm_form_13_container.with_frm_style .frm_form_field.frm_half.frm_left_container .frm_error {
	margin-left: 160px;
	padding-left: 0;
}

.section-submit-trip {
	background: #ebebeb;
	padding: 3%;
}

/* Live Ferry Queue Styling */

.webcam-tabs {
	margin: 0 0 30px 0;
	padding: 0;
	text-align: center;
}

.webcam-tabs li,
.webcam-tabs li span {
	display: inline-block;
}

.webcam-tabs li {
	margin: 5px 0;
}

.webcam-tabs li span {
	background: #ebebeb;
	padding: 15px;
	border-bottom: 3px solid #fff;
}

.webcam-tabs li span:hover,
.webcam-tabs li span.active {
	border-color: #e15151;
}

.webcam-tabs li span.active {
	background-color: #e15151;
	color: #fff;
}

.webcam-tabs li small {
	display: block;
	font-size: 11px;
}

.webcam-embed-item {
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
	display: none;
}

.panoramic .webcam-embed-item {
	max-width: 100%;
	width: 100%;
}

.webcam-embed-item.active {
	display: block;
}

.webcam-embeds iframe {
	width: 100%;
	height: 450px;
}


.webcam-embeds-https .jwplayer {
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
	display: none;
}

.webcam-embeds-https .jwplayer.active {
	display: block;
}


/* My account Styling */

.section-login-register .login,
.section-login-register .register {
	width: 49.5%;
	padding: 1% 5%;
}

.section-login-register .register {
	border-left: 1px solid #333;
}

.with_frm_style.frm_login_form.frm_inline_login .login-username,
.with_frm_style.frm_login_form.frm_inline_login .login-password,
.with_frm_style.frm_login_form.frm_inline_login .login-remember {
	float: none;
	position: relative;
	top: auto;
	margin-left: 0;
}

.with_frm_style.frm_login_form.frm_inline_login .frm_submit {
	margin-left: 0;
}

.frm_style_formidable-style.with_frm_style.frm_login_form label {
    width: 150px;
    max-width: 33%;
    margin-right: 10px;
    display: inline-block;
}

.with_frm_style.frm_login_form.frm_inline_login .login-remember label,
.frm_style_formidable-style.with_frm_style .frm_left_container .frm_error {
	font-weight: normal;
	font-size: 10px;
}

.frm_style_formidable-style.with_frm_style .frm_none_container label.frm_primary_label {
	display: block;
}

.section-login-register .frm_style_formidable-style.with_frm_style .frm_left_container div.frm_description {
	display: none;
}

.ma-title {
	padding: 15px;
	background: #ebebeb;
	font-weight: normal;
}

.ma-title .button {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: #e15151;
	color: #fff;
	line-height: 100%;
	padding: 20px;
}

.ma-title .button:hover {
	background-color: #B84242;
}

/* Gallery Styling */

.gallery-wrap {
	width: 100%;
	max-width: 900px;
	max-height: 600px;
	overflow: hidden;
	margin: 0 auto 30px;
}

.gallery-wrap .slick-slide {
	position: relative;
}

.gallery-wrap img {
	max-height: 800px;
	margin: 0 auto;
}

.gallery-thumbs {
	max-height: 100px;
	overflow: hidden;
	margin-bottom: 50px;
}

.gallery-thumbs img {
	width: 100px;
	opacity: 0.4;
	cursor: pointer;
	transition: opacity 0.2s ease;
}

.gallery-thumbs img:hover,
.gallery-thumbs img.slick-current {
	opacity: 1;
}

span.blog-date{
	font-size:9px;
	height:14px;
	display:block;
}
span.blog-date-content{
	font-size:12px;
	height:22px;
	text-align:center;
	display:block;
	width:100%;
}

/* Cittadella Landing Page Styling */

.cittadella-landing .relative {
	position: relative;
}

.cittadella-landing .cit-menu {
	background-color: rgba(119, 165, 196, 0.7);
	padding: 40px;
	color: #fff;
	text-transform: uppercase;
	position: fixed;
	left: 0;
	width: 230px;
	z-index: 999;
}

.cittadella-landing .cit-menu .toggle-menu {
	position: absolute;
	right: -25px;
	top: -25px;
	cursor: pointer;
}

.cittadella-landing .cit-menu .toggle-menu:before {
	font-family: 'fontello';
	width: 20px;
	height: 20px;
	background-color: rgba(255,255,255,.4);
	line-height: 1;
	border-radius: 20px;
	padding: 3px;
	transition: 0.2s ease;
	content: '\e806';
	display: block;
	text-align: center;
}

.cittadella-landing .cit-menu .toggle-menu.active:before {
	content: '\e80a';
}

.cittadella-landing .cit-menu .toggle-menu:hover:before {
	background-color: rgba(255,255,255,.8);
	color: rgba(119, 165, 196, 1);
}

.cittadella-landing .cit-menu a {
	color: #fff;
	font-size: 15px;
	font-weight: 500;
}

.cittadella-landing .cit-menu img {
	display: block;
}

.cittadella-landing .cit-menu a:hover {
	text-decoration: underline;
}

.cittadella-landing .cit-menu ul {
	margin: 0;
	padding: 0;
	max-height: 0;
	overflow: hidden;
	transition: 0.5s ease;
}

.cittadella-landing .cit-menu ul.active {
	max-height: 300px;
	padding-bottom: 25px;
}

.cittadella-landing .cit-menu li {
	list-style: none;
	margin: 5px 0;
}

.cittadella-landing .vote-button {
	display: block;
	padding: 20px 24px;
	background-color: #1994CF;
	color: #fff;
	text-align: center;
	line-height: 1;
	font-size: 17px;
	font-weight: 800;
	position: fixed;
	right: 0;
	z-index: 999;
	transition: 0.5s ease;
}

.cittadella-landing .vote-button:hover {
	background-color: #e15151;
}

.cittadella-landing .vote-button img {
	width: 55px;
	margin: 0 auto 10px;
	display: block;
	transition: 0.5s ease;
}

.cittadella-landing .vote-button:hover img {
	margin-bottom: 20px;
}

.cittadella-landing .video-intro,
.cittadella-landing .video-container {
	position: relative;
}

/* .cittadella-landing .video-container {
	padding-top: 56.25%;
} */

.cittadella-landing .video-intro .video-embed {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.cittadella-landing .blue-bg {
	background-color: #77A5C4;
	color: #fff;
}

.cittadella-landing .pad-top-60 {
	padding-top: 60px;
}

.cittadella-landing .text-center {
	text-align: center;
}

.cittadella-landing .cit-button {
	padding: 10px 20px;
	background-color: #1994CF;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	display: inline-block;
	transition: 0.2s ease;
}

.cittadella-landing .cit-button.dark {
	background-color: #3E6C8B;
}

.cittadella-landing .cit-button:hover {
	background-color: #e15151;
}


.cittadella-landing .blue-bg .section-title {
	color: #fff;
}

.cittadella-landing .section {
	padding-top: 60px;
	padding-bottom: 60px;
	outline: none;
}

.cittadella-landing .section-title.text-center {
	text-align: center;
}

.cittadella-landing .section-title {
	text-align: left;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	opacity: 0.25;
	font-size: 55px;
}

.cittadella-landing .section-about-2 {
	padding-bottom: 0;
}

.cittadella-landing .section-about-2 .image img,
.cittadella-landing .section-history-2 .image img {
	max-width: 90%;
}

.cittadella-landing .section-project .images {
	text-align: right;
}

.cittadella-landing .section-project .images img {
	margin-bottom: 15px;
	max-width: 90%;
	display: inline-block;
}

.cittadella-landing .section-vote {
	background-color: #0D0035;
	font-size: 27px;
	color: #fff;
}

.cittadella-landing .section-vote .cit-button {
	margin-left: 10px;
	position: relative;
	top: -2px;
}

.cittadella-landing .section-map .container {
	display: flex;
}

.cittadella-landing .section-map .map-image img {
	display: block;
}

.cittadella-landing .section-map .map-text {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}

.cittadella-landing .section-map .map-text:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(119, 165, 196, 0.8);
}

.cittadella-landing .section-map .map-text h2,
.cittadella-landing .section-map .map-text a {
	position: relative;
	z-index: 2;
}

.cittadella-landing .section-map .map-text h2 {
	color: #fff;
}

.pano-wrap {
	position: relative;
}

.pano-container {
	padding-top: 56.25%;
	position: relative;
}

.pano-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.cittadella-landing .section-360 .slide .overlay {
	width: 96px;
	height: 96px;
	background-color: rgba(41, 41, 41, 0.88);
	border-radius: 64px;
	padding: 15px;
	position: absolute;
	left: 50%;
	margin-left: -48px;
	top: 50%;
	margin-top: -48px;
	transition: 0.2s ease;
}

.cittadella-landing .section-360 .slide:hover .overlay {
	background-color: #e15151;
}

.cittadella-landing .tabs {
	text-align: center;
	margin: 30px 0 30px 0;
	padding: 0;
}

.cittadella-landing .tabs li {
	padding: 10px;
	background-color: #fff;
	color: #000;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}

.cittadella-landing .tabs li:hover {
	opacity: 0.8;
}

.cittadella-landing .tabs li.active {
	background-color: #3E6C8B;
	color: #fff;
}

.cittadella-landing .tabs li span {
	font-size: 11px;
	display: block;
}

.cittadella-landing .cam-embeds .embed {
	display: none;
}

.cittadella-landing .cam-embeds .embed.active {
	display: block;
}

.event-gallery-slides {
	max-height: 500px;
	overflow: hidden;
}

.event-gallery-slides img {
	display: block;
	margin: 0 auto;
}

.cittadella-landing .section-events-gallery .page-gallery-slider .relative {
	position: relative;
}

.cittadella-landing .section-events-gallery .page-gallery-slider .overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.76) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	opacity: 0;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 40px;
	color: #fff;
	font-size: 14px;
	transition: 0.5s ease;
}

.cittadella-landing .section-events-gallery .page-gallery-slider .slide:hover .overlay {
	opacity: 1;
}

.cittadella-landing .section-book {
	background-color: #0D0035;
	color: #fff;
}

.cittadella-landing .section-book .text {
	max-width: 800px;
	margin: 0 auto 40px;
}

.cittadella-landing .social-blog {
	background: linear-gradient(to right, rgba(30,87,153,0) 0%,rgba(119,165,196,0) 50%,rgba(119,165,196,1) 50.1%,rgba(119,165,196,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.cittadella-landing .blog {
	padding-left: 40px;
	color: #fff;
}

.cittadella-landing .blog .title {
	font-size: 17px;
	font-weight: 700;
}

.cittadella-landing .blog .text {
	margin: 20px 0;
}

.cittadella-landing .blog .section-title {
	color: #fff;
}

.cittadella-landing .social .section-title,
.cittadella-landing .blog .link a,
.cittadella-landing .section-contact .section-title {
	color: #3E6C8B;
}

.cittadella-landing .blog .article {
	margin-bottom: 60px;
	padding-bottom: 60px;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

.cittadella-landing .blog .articles .article:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

.cittadella-landing .section-contact .row {
	display: flex;
	justify-content: space-between;
}

.cittadella-landing .section-contact .wrap {
	border-bottom: 1px solid #3E6C8B;
}

.cittadella-landing .text-right {
	text-align: right;
}

.cittadella-landing .section-contact .icon-facebook:before {
	background: #77A5C4;
	color: #fff;
	padding: 6px;
	border-radius: 20px;
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
}

.cittadella-landing .section-contact a {
	color: #000;
}

.cittadella-landing .section-contact a:hover {
	color: #e15151;
}


/* Responsive Styling */

@media all and (max-width: 1420px) {
	
	.wrap {
		padding-left: 20px;
		padding-right: 20px;
	}

	.wrap .wrap {
		padding-left: 0;
		padding-right: 0;
	}	

}

@media all and (max-width: 1100px) {

	.site-overlay .heading {
		float: none;
	}

	.site-overlay .submenu-items {
		width: 70%;
	}

	.featured-group .col-25 {
		width: 49%;
		margin-bottom: 2%;
	}

	.featured-group .col-25:nth-child(even){
		float: right;
		margin-right: 0;
	}

	.foot-main-menu ul.menu,
	.footer-partners {
		flex-wrap: wrap;
		text-align: center;
	}

	#foot-menu-social {
		width: 100%;
		float: none;
		margin-bottom: 20px;
	}

	.footer-menu .social-menu a {
		display: inline;
		margin: 0 2%;
		float: none !important;
	}

	.foot-main-menu > ul > li {
		width: 33.3%;
		margin-bottom: 20px;
	}

	.footer-partners .title {
		width: 100%;
		float: none;
		margin-bottom: 5px;
	}

	.footer-partners a {
		margin: 0 1%;
		width: 10.5%;
	}

	.page-template-page-column-content .site-main .entry-content {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-gap: 0em;
		-moz-column-gap: 0em;
		column-gap: 0em;
	}

	ul.item-boxes.ui-autocomplete .item-box {
		width: 49%;
		margin: 0.75% 0 !important;
	}

	ul.item-boxes.ui-autocomplete .item-box:nth-child(even){
		margin-left: 2% !important;
	}

	.home-video-still {
		display: block;
		z-index: 1;
	}

	.btn-play-video.video-modal {
		display: inline-block;
	}

	.home-video,
	.btn-play-video {
		display: none;
	}

	.single-vg_events .entry-content .col {
		height: auto !important;
	}

	.single-vg_events .entry-content .col-70,
	.single-vg_events .entry-content .col-25,
	.single-vg_listings .entry-content .col-70,
	.single-vg_listings .entry-content .col-25,
	.single-vg_events .entry-content .item-desc .col {
		float: none !important;
		width: 100%;
	}

	.single-vg_events .item-sidebar,
	.single-vg_listings .item-sidebar {
		border: none;
		text-align: center;
	}

	.single-vg_events .item-sidebar,
	.single-vg_events .item-desc,
	.single-vg_listings .item-sidebar,
	.single-vg_listings .item-desc {
		padding: 0;
	}

	.item-actions,
	.item-actions li {
		text-align: center;
		display: inline-block;
	}

	.item-poster {
		margin-bottom: 30px;
	}

	.menu-quick-links-container {
		font-size: 15px;
	}

	/* Subsribe to newsletter page */

	#post-21518 .entry-content img.alignright {
		display: block;
		float: none;
		margin-left: 0;
		margin-top: 1em;
	}

	.cittadella-landing .section-title {
		font-size: 50px;
	}
}

@media all and (max-width: 1023px) {

	.cittadella-landing .col-30,
	.cittadella-landing .col-40,
	.cittadella-landing .col-50,
	.cittadella-landing .col-60,
	.cittadella-landing .col-70 {
		width: 100%;
		float: none;
	}

	.cittadella-landing .section,
	.cittadella-landing .section-title {
		text-align: center;
	}

	.cittadella-landing .section-vote .cit-button {
		display: block;
		margin: 15px auto 0;
		max-width: 200px;
	}

	.cittadella-landing .section-map .container,
	.cittadella-landing .section-contact .row {
		display: block;
	}

	.cittadella-landing .section-map .map-text {
		padding: 50px 20px;
	}

	.cittadella-landing .social-blog {
		background: none;
	}

	.cittadella-landing .blog .section-title {
		color: #3E6C8B;
	}

	.cittadella-landing .social-blog .blog {
		padding: 50px 0 0 0;
		color: #000;
	}

	.cittadella-landing .section-contact .row .text-right {
		text-align: center;
	}

	.cittadella-landing .section-contact .row div:nth-child(2) {
		margin: 20px 0;
	}

	.cittadella-landing .blog .article {
		border-color: #3e6c8b;
	}

	#CDSWIDSSP .widSSPData .widSSPBranding, .widSSPComponent, .widSSPWrap {
		width: 100%;
	}

	#CDSWIDSSP .widSSPReviews {
		position: relative;
		left: 0;
	}

}

@media all and (max-width: 900px) {

	.item-box {
		width: 49%;
		margin: 0.75% 0 !important;
	}

	.item-box:nth-child(even){
		margin-left: 2% !important;
	}

	.section-pool-trips .trip,
	.page-template-page-contact-us .site-main .row .col-60,
	.page-template-page-contact-us .site-main .row .col-40 {
		width: 100%;
	}

	.page-template-page-contact-us .site-main .row .col-40,
	.page-template-page-contact-us .site-main .row .contact-intro {
		text-align: center;
	}

}

@media all and (max-width: 800px) {

	.intro-search-wrap {
		display: none;
	}

	.big-play-btn {
		display: block;
		z-index: 9;
		text-align: center;
		padding-top: 25vh;
	}

	.big-play-btn .btn-play-video .icon-play-circled:before {
		font-size: 80px;
	}

	.home-intro {
		height: 50vh;
	}

	.site-overlay .submenu-items {
		width: 85%;
	}

	.quick-links {
		width: 10%;
		min-width: 30px;
	}

	.quick-links li:before {
		margin: 0
	}

	.quick-links .menu a {
		font-size: 0;
		display: inline-block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	}

	.intro-search-content,
	.btn-play-video {
		margin-left: 10px;
		margin-right: 10px;
	}

	.links-bar p {
		font-size: 0;
	}

	.links-bar p:before {
		margin: 0;
	}

	.social-links-bar .col {
		width: 50%;
	}

	.links-bar .item {
		padding: 0 2.5%;
	}

	.links-bar .item.weather {
		border-right: 0;
	}

	.links-bar .item {
		border-right: none;
	}

	.leader-intro {
		margin: 0 auto;
		padding: 4%;
	}

	.section-newsletter .mc-field-group {
		display: block;
	}

	.section-newsletter .mc-field-group,
	.section-newsletter input {
		margin-top: 5px;
	}

	.webcam-embeds iframe {
		height: 350px;
	}
	
	
	#note-not-responsive{
		display:none;
	}

	#note-responsive{
		display:block!important;
	}

	.competition.competition-small {
		display: block;
	}

	.cittadella-landing .section-project .images img {
		max-width: 100%;
	}
	
	.cittadella-landing .icon-videocam {
		content: 'Video';
	}


}

@media all and (max-width: 700px) {

	.cittadella-landing .vote-button {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.cittadella-landing .vote-button img {
		margin: 0 20px 0 0;
	}

	.cittadella-landing .cit-menu {
		position: relative;
		width: 100%;
		text-align: center;
	}

	.cittadella-landing .cit-menu img.cit-logo {
		max-width: 200px;
		margin: 0 auto;
	}

	.cittadella-landing .section-about-2 img.alignleft {
		float: none;
		display: block;
		margin: 0 auto 15px;
	}
}

@media all and (max-width: 600px) {

	.site-overlay .submenu-items {
		font-size: 13px;
	}

	.featured-group .col-25,
	.featured-group .col-50 {
		width: 100% !important;
		margin: 2% 0 !important;
	}

	.site-footer .col,
	.site-footer .clear {
		width: 100%;
		float: none;
		text-align: center !important;
	}

	.site-footer .col .fl,
	.site-footer .col .fr {
		float: none !important;
	}	

	.site-footer .ta-in-footer {
		margin-bottom: 40px;
	}

	.site-footer .ta-poweredby-txt {
		margin-bottom: 5px;
	}

	.footer-partners a {
		width: 24%;
		margin: 2% 0;
	}

	.section-pool-trips .col-40 {
		width: 0;
	}

	.section-pool-trips .icon {
		display: none;
	}

	.section-pool-trips .trip {
		padding: 4%;
		padding-bottom: 90px;
	}

	.section-pool-trips .trip > .col-50 {
		width: 100%;
	}

	.section-pool-trips .btn-contact {
		position: absolute;
		margin: 0;
		bottom: 20px;
	}

	.ui-autocomplete.item-boxes .item-box,
	.ui-autocomplete.item-boxes .item-box:nth-child(even) {
		width: 100%;
		margin: 3% 0 !important;
	}

	.leader-intro:hover {
		margin-left: 0;
	}

	.subpages .subpage-box,
	.friends-of-links .col {
		width: 100%;
		float: none;
	}

	.friends-of-links .col {
		text-align: center;
	}
}

@media all and (max-width: 500px) {

	.site-navigation .item-menu,
	.site-navigation .item-search {
		font-size: 0;
	}

	.site-navigation .item-menu::before,
	.site-navigation .item-search::before {
		font-size: 30px;
	}

	.select2-container--default .select2-selection--single {
		padding: 35px 0;
	}

	.site-branding .logo.mini {
		width: 95px;
	}

	.hot-searches .col {
		width: 46%;
		margin: 2%;
	}

	.social-links-bar .col {
		width: 100%;
		float: none;
		overflow: hidden;
		text-align: center !important;
	}

	.social a,
	.links-bar .item {
		float: none !important;
		display: inline-block;
	}

	.foot-main-menu > ul > li {
		width: 100%;
	}

	#foot-menu-social a {
		font-size: 0;
	}

	.footer-partners a {
		width: 50%;
	}

	.slides-wrap.checkout-slider .slide-title {
		font-size: 20px;
	}

	.item-box,
	.item-box:nth-child(even) {
		width: 100%;
		margin: 3% 0 !important;
	}

	.webcam-embeds iframe {
		height: 350px;
	}

	.competition.competition-small {
		padding-left: 20px;
		text-align: center;
	}

	.competition.competition-small .competition-logo {
		position: relative;
		margin: 0 auto;
		left: auto;
		top: auto;
	}

	.gallery-columns-3 .gallery-item {
		max-width: 80%;
		margin-left: 0;
		margin-right: 0;
	}

	.cittadella-landing .section-title {
		font-size: 40px;
	}

}

@media all and (max-width: 374px) {

	.intro-search-content {
		padding: 40px 20px;
	}

	.site-branding .logo,
	.site-branding .logo.mini {
		width: 75px;
		margin-top: 7px;
	}

	.leader-intro p {
		font-size: 12px;
	}

	.featured-pages-wrap .leader {
		min-height: 60vh;
	}

	.slides-wrap .slide-title {
		font-size: 25px;
	}

	.trip .col-50 .col-50 {
		width: 100%;
		float: none;
		text-align: center;
	}

	.section-pool-trips .btn-contact {
		left: 10%;
		right: 10%;
	}

	.webcam-embeds iframe {
		height: 130px;
	}

}
